<div class="page-header">
	<h1>Libros</h1>
</div>

<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<div class="pull-left">
			<h3 class="panel-title">Listado de Libros</h3>
		</div>
		<div class="pull-right sel_dt_length"></div>
	</div>
	<table #dataTable class="table table-striped" id="dt-example" style="width: 100%;"></table>
	<div class="panel-footer">
		<div class="row">
            <div class="col-md-5 info_dt_results"></div>
            <div class="col-md-7 paginate_dt"></div>
        </div>
	</div>
</div>