<div class="modal-header">
  	<h4 class="modal-title pull-left">{{ modal.content.title }}</h4>
	<button type="button" 
			class="close pull-right" 
	  		aria-label="Close"
	  		(click)="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
  	<pre>{{ form.data | json }}</pre>
  
  	<form id="frm_books" name="frm_books" [formGroup]="bookForm">
		<div class="form-group" 
			 [ngClass]="{'has-error': (!formControls.title.pristine || submitted) && formControls.title.errors }">
			<label for="title">Título</label>
			<input type="text"
				   id="title"
				   name="title"
				   formControlName="title"	
				   class="form-control"
				   [(ngModel)]="this.form.data.title" />
		   	<div *ngIf="(!formControls.title.pristine || submitted) && formControls.title.errors" 
		   		 class="help-block">
				<div *ngIf="formControls.title.errors.required">* Campo requerido</div>
			</div>
		</div>
		<div class="form-group" 
			 [ngClass]="{'has-error': (!formControls.description.pristine || submitted) && formControls.description.errors }">
			<label for="description">Descripción</label>
			<textarea
				id="description"
				name="description"
				formControlName="description"	
				class="form-control"
				[(ngModel)]="this.form.data.description"></textarea>

			<div *ngIf="(!formControls.description.pristine || submitted) && formControls.description.errors" 
		   		 class="help-block">
				<div *ngIf="formControls.description.errors.required">* Campo requerido</div>
			</div>
		</div>

		<div class="form-group" 
			 [ngClass]="{'has-error': (!formControls.author_id.pristine || submitted) && formControls.author_id.errors }">
			<label>Autor</label>
	      	<select2 #selectAuthors [data]="authors" 
	               	 [options]="options"
	               	 (valueChanged)="eventChangeSelect($event, 'author_id')"
					 required="true">
	            <option></option>
	        </select2>

			<div *ngIf="(!formControls.author_id.pristine || submitted) && formControls.author_id.errors" 
		   		 class="help-block">
				<div *ngIf="formControls.author_id.errors.required">* Campo requerido</div>
			</div>
		</div>

		<div class="form-group" 
			 [ngClass]="{'has-error': (!formControls.publisher_id.pristine || submitted) && formControls.publisher_id.errors }">
			<label>Publicador</label>
	      	<select2 #selectPublishers [data]="publishers" 
	               	 [options]="options"
	               	 (valueChanged)="eventChangeSelect($event, 'publisher_id')"
					 required="true">
	            <option></option>
	        </select2>

			<div *ngIf="(!formControls.publisher_id.pristine || submitted) && formControls.publisher_id.errors" 
		   		 class="help-block">
				<div *ngIf="formControls.publisher_id.errors.required">* Campo requerido</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" 
			class="btn btn-primary" 
			(click)="accept()">Aceptar</button>
	<button type="button" 
			class="btn btn-warning" 
			(click)="clear()">Limpiar</button>
	<button type="button" 
			class="btn btn-default" 
			(click)="cancel()">Cancelar</button>
</div>
