<div class="page-header">
	<h1>Libros</h1>
</div>

<form (ngSubmit)="reloadData(true)">
	<div class="form-group">
		<label for="search_title">Título</label>
		<input type="text"
			   id="search_title"
			   name="search_title"
			   class="form-control"
			   [(ngModel)]="form.data.title" />
	</div>

	<div class="form-group">
		<label>Autor</label>
	
		<div *ngIf="authors.data.length === 0">
			<select2 [options]="options"
					 [disabled]="authors.loading">
				<option></option>
			</select2>
		</div>

		<div *ngIf="authors.data.length > 0">
			<select2 #selectSearchAuthor 
				 [data]="authors.data"
				 [disabled]="authors.loading" 
               	 [options]="options"
                 (valueChanged)="eventChangeSelect($event, 'author')">
				<option></option>
			</select2>
		</div>
	</div>

	<div class="form-group">
		<label>Publicador</label>
      	<div *ngIf="publishers.data.length === 0">
			<select2 [options]="options"
					 [disabled]="publishers.loading">
				<option></option>
			</select2>
		</div>

		<div *ngIf="publishers.data.length > 0">
			<select2 #selectSearchPublisher 
				 [data]="publishers.data"
				 [disabled]="publishers.loading" 
               	 [options]="options"
                 (valueChanged)="eventChangeSelect($event, 'publisher')">
				<option></option>
			</select2>
		</div>
	</div>

	<div class="form-group">
		<button type="submit"
				class="btn btn-primary">
			Buscar
		</button>
		&nbsp;&nbsp;
		<button type="reset"
				(click)="clearForm()"	
				class="btn btn-default">
			Limpiar
		</button>
	</div>

	<pre>{{ form.data | json }}</pre>
</form>

<div class="form-group">
	<button type="button"
			class="btn btn-primary"
			(click)="reloadData(true)">
		Recargar
	</button>
</div>

<div class="panel panel-default panel-datatables">
	<div class="panel-heading clearfix">
		<div class="pull-left">
			<h3 class="panel-title">Listado de Libros</h3>
		</div>
		<div class="pull-right">
			<div class="pull-left">
				<button type="button"
						class="btn btn-success"
						(click)="openModal({})">
						<i class="glyphicon glyphicon-plus-sign"></i> 
						Agregar
				</button>
			</div>
			<div class="pull-left dt-select-length"></div>
		</div>
	</div>
	<table #dataTable class="table table-striped" id="dt-example" style="width: 100%;"></table>
	<div class="panel-footer">
		<div class="row">
            <div class="col-md-5 dt-info-results"></div>
            <div class="col-md-7 dt-pagination"></div>
        </div>
	</div>
</div>

<ng-template #template>
	<app-books-modal 
		[modal]="modalRef" 
		[authors]="authors.data"
		[publishers]="publishers.data"></app-books-modal>
</ng-template>